.container {
  text-align: center;
  margin: 8px;
  border-radius: 15px;
  cursor: pointer;
  color: #1dc917;
  background-color: #000000;
  padding: 16px;
}

.container h3 {
  font-size: 30px;
}

.container:hover {
  color: #19f011;
}
.container:hover .time {
  font-size: 25px;
}
